@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Lato&family=Raleway&display=swap');

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

:root{
    --primary-service:rgb(44, 44, 44);
    --primary-service-all:rgb(44, 44, 44);
    --contrast:1;
}
.darkmode{
    --primary-service:rgb(235, 235, 235);
    --primary-service-all:rgb(186, 186, 186);
    --contrast:0;
}

.servicecon{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 45px;
    padding: 40px 61px;

}
.service{
    display: flex;
    height: 235px;
    width: 465px;
    margin: auto;
    border-radius: 12px;
    /* box-shadow: 0px 0px 10px -5px; */
    padding: 33px;
    flex-direction: column;
    cursor: pointer;
   
}
.servicecon h2{
    font-size: 1.6rem;
    color: var(--primary-service);
    margin: 0.8rem 0rem;
    font-family: 'Lato', sans-serif;
}
.servicecon p{
    color: var(--primary-service-all);
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
}
.servicecon img{
    filter: contrast(var(--contrast));
}
.servicehead h1{
    text-align: center;
    font-size: 3rem;
    padding-top: 4rem;
    color: var(--primary-service)
}
.servicehead h3{
    text-align: center;
    font-size: 1.5rem;
    color: var(--primary-service-all);
    margin-top: 1rem;

}

.service:hover{
    /* background-color: rgb(243, 243, 243); */
}

.service .img img{
    width: 35px;
}
#image-style-1,#image-style-2,#image-style-3{
    width: 40px;
}